<html lang="en" ng-app="app">

<head>
    <meta name="viewport" content="initial-scale=1" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.0-rc4/angular-material.css" type="text/css" media="all">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type='text/css'>
    <link rel="stylesheet" href="directives/mxPicker.directive.css" media="all">
    <style>
       li {
          list-style: none;
       }
    </style>
</head>

<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-animate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-aria.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-messages.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.0-rc4/angular-material.js"></script>

   <!-- ================================================================================  -->

    <script src="app.js"></script>
    <script src="values.js"></script>

    <script src="services/mxBasePicker.service.js"></script>

    <script src="directives/mxPicker.directive.js"></script>

    <script src="controllers/demo.ctrl.js"></script>
    <script src="controllers/mxPicker.ctrl.js"></script>

   <!-- ================================================================================  -->

    <div ng-controller="DemoCtrl as demoCtrl">
        <form>
            <md-input-container layout="row">
                <input type="text" autofocus flex aria-label="Input" placeholder="Input to test keyboard navigation">
            </md-input-container>

            <md-input-container layout="row">
                <input type="text" flex aria-label="Input" placeholder="Input to test keyboard navigation">
            </md-input-container>

            <mx-picker
                required          = "demoCtrl.isRequired"
                read-only         = "demoCtrl.isReadOnly"
                ng-disabled       = "demoCtrl.isDisabled"
                hints             = "demoCtrl.showHints"

                name              = ""
                label             = "Single picker"
                itemTitleField    = ""
                itemIdField       = ""
                dropdownHtmlClass = ""

                selectedItem      = ""
                items             = "demoCtrl.autocompleteItems"

                loadItems         = ""
                loadOnTyping      = ""
                loadDelay         = ""
                navigateItem      = ""
                createItem        = "demoCtrl.onCreateClick(searchText)"
                browseLookup      = ""
                on-search-click   = "demoCtrl.onSearchClick()"
            >
                <!-- ng&#45;model="" -->
            </mx-picker>

            <div layout="column" layout-padding>
               <md-checkbox ng-model="demoCtrl.isRequired">Required</md-checkbox>
               <md-checkbox ng-model="demoCtrl.isReadOnly">Readonly</md-checkbox>
               <md-checkbox ng-model="demoCtrl.isDisabled">Disabled</md-checkbox>
            </div>

            <md-input-container>
                <md-switch
                    ng-model = "demoCtrl.showHints"
                    ng-init  = "demoCtrl.showHints=true"
                >
                    Showing {{ demoCtrl.showHints ? "Hints" : "Errors" }}
                </md-switch>
            </md-input-container>

            <!-- <div> Symbols entered: {{ symbolsCount || 0 }} </div> -->
            <!-- <div ng&#45;messages="userForm.name.$error" ng&#45;if="!showHints"> </div> -->

            <hr>

            <!-- ARRAY VALUES EXAMPLE -->
            <mx-picker
               label    = "Array values example:  ['Item1', 'Item2', 'Item3', 'Item4', 'Item5', 'Item6'] "
               items    = "demoCtrl.pickerArray"
               ng-model = "demoCtrl.pickerArrayValue"
               >
            </mx-picker>

            <!-- SIMPLE VALUE EXAMPLE: -->
			<mx-picker
                label            = "Array of objects example:  [ { id: 1, title: 'item 1' },  ... ] "
				items            = "demoCtrl.pickerData"
				ng-model         = "demoCtrl.pickerValue"
				ng-required      = "true"
				navigate-item    = "demoCtrl.navigateSelectedItem"
				browse-lookup    = "demoCtrl.browseLookup"
                item-title-field = "title"
            >
			</mx-picker>

            <!-- LAZY LOADING EXAMPLE -->
            <mx-picker
               label              = "Lazy-loading example"
               ng-model           = "demoCtrl.pickerLoadOnTypingValue"
               item-title-field   = "DisplayString"
               item-details-field = "Description"
               item-id-field      = "Value"
               load-items         = "demoCtrl.loadItems"
               not-found          = "demoCtrl.notFoundDescriptor"
               load-on-typing     = "true"
            >
            </mx-picker>

        </form>


        <h1>mx-picker directive API:</h1>
        <pre>
            &lt;mx-picker
                required          = "demoCtrl.isRequired"
                read-only         = "demoCtrl.isReadOnly"
                ng-disabled       = "demoCtrl.isDisabled"
                hints             = "demoCtrl.showHints"

                name              = ""
                label             = "Single picker"
                itemTitleField    = ""
                itemIdField       = ""
                dropdownHtmlClass = ""

                selectedItem      = ""
                items             = "demoCtrl.autocompleteItems"

                loadItems         = ""
                loadOnTyping      = ""
                loadDelay         = ""
                navigateItem      = ""
                createItem        = "demoCtrl.onCreateClick(searchText)"
                browseLookup      = ""
                on-search-click   = "demoCtrl.onSearchClick()"

                ng-model          = ""
            &gt;


        </pre>
        <ul>
            <li>hints: =</li>
            <li>disabled: =ngDisabled</li>
            <li>required: =</li>
            <li>readOnly: </li>
        </ul>
    </div>
    <!-- DemoCtrl end  -->

</body>
</html>
