<html lang="en" ng-app="app">

<head>
    <meta name="viewport" content="initial-scale=1" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.0-rc4/angular-material.css" type="text/css" media="all">
    <!-- <link rel="stylesheet" href="libs/angular&#45;material/angular&#45;material.css" type="text/css" media="all"> -->

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type='text/css'>
    <link rel="stylesheet" href="directives/mxPicker.directive.css" media="all">
    <style>

       pre {
          padding-left: 1rem;
       }

       h1 {
          margin-bottom: -1rem;
       }

       md-checkbox {
          width: 25%;
       }

       md-checkbox span {
          -webkit-user-select: none;
          user-select: none;
       }

    </style>
</head>

<body>

    <!-- <script src="libs/angular/angular.js"></script> -->
    <!-- <script src="libs/angular&#45;animate/angular&#45;animate.js"></script> -->
    <!-- <script src="libs/angular&#45;aria/angular&#45;aria.js"></script> -->
    <!-- <script src="libs/angular&#45;material/angular&#45;material.js"></script> -->
    <!-- <script src="libs/angular&#45;messages/angular&#45;messages.js"></script> -->

   <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-animate.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-aria.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-messages.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.0-rc4/angular-material.js"></script>

   <script src="libs/angular-sanitize/angular-sanitize.js"></script>
   <script src="libs/html2canvas/build/html2canvas.min.js"></script>
   <script src="libs/ua-parser-js/dist/ua-parser.min.js"></script>
   <script src="libs/ng-file-upload/ng-file-upload.js"></script>
   <script src="libs/angular-ui-grid/ui-grid.js"></script>
   <script src="libs/angular-route/angular-route.js"></script>
   <script src="libs/tinymce-dist/tinymce.js"></script>
   <script src="libs/angular-ui-tinymce/src/tinymce.js"></script>
   <script src="libs/sc-date-time/dist/sc-date-time.js"></script>
   <script src="libs/mx.components/mx.components.all.js"></script>
   <script src="libs/moment/moment.js"></script>
   <script src="libs/angular-moment/angular-moment.js"></script>
   <script src="libs/oclazyload/dist/ocLazyLoad.js"></script>


   <!-- ================================================================================  -->

    <script src="app.js"></script>

    <!-- <script src="services/mxBasePicker.service.js"></script> -->

    <script src="controllers/demo.ctrl.js"></script>
    <script src="controllers/mxPicker.ctrl.js"></script>

    <script src="directives/mxPickerAutocomplete.directive.js"></script>
    <script src="directives/mxClearPickerBtn.directive.js"></script>
    <script src="directives/mxSglclick.directive.js"></script>
    <script src="directives/mxPicker.directive.js"></script>

   <!-- ================================================================================  -->

    <div ng-controller="DemoCtrl as demoCtrl">
        <form>
            <md-input-container layout="row">
                <input type="text" autofocus flex aria-label="Input" placeholder="Input to test keyboard navigation">
            </md-input-container>

            <md-input-container layout="row">
                <input type="text" flex aria-label="Input" placeholder="Input to test keyboard navigation">
            </md-input-container>

            <mx-picker-new
                required            = "demoCtrl.isRequired"
                read-only           = "demoCtrl.isReadOnly"
                ng-disabled         = "demoCtrl.isDisabled"

                name                = "vegetables"
                label               = "Single picker"
                dropdown-html-class = "mx-picker-default"
                hint                = "Tell us what you like!"

                ng-model            = "demoCtrl.selectedItem"
                items               = "demoCtrl.autocompleteItems"
                not-found           = "demoCtrl.notFound"

                navigate-item       = "demoCtrl.navigateSelectedItem"
                browse-lookup       = "demoCtrl.browseLookup"
                on-change           = "demoCtrl.onChange()"
                selected-items      = "demoCtrl.selectedItems"
            >
            </mx-picker-new>

            <div layout="column" layout-padding>
               <md-checkbox ng-model="demoCtrl.isRequired">Required</md-checkbox>
               <md-checkbox ng-model="demoCtrl.isReadOnly">Read-only</md-checkbox>
               <md-checkbox ng-model="demoCtrl.isDisabled">Disabled</md-checkbox>
            </div>

            <hr>

            <!-- ARRAY VALUES EXAMPLE -->
            <mx-picker-new
               item-title-field = "title"
               items            = "demoCtrl.pickerArray"
               label            = "Array values example:  ['Item1', 'Item2', 'Item3', 'Item4', 'Item5', 'Item6'] "
               browse-lookup    = "demoCtrl.browseLookup"
               not-found        = "demoCtrl.notFound"
               ng-model         = "demoCtrl.pickerArrayValue"
               selected-items   = "demoCtrl.selectedItems"
            >
            </mx-picker-new>

            <!-- SIMPLE VALUE EXAMPLE: -->
            <mx-picker-new
               ng-required      = "true"
               item-title-field = "title"
               label            = "Array of objects example:  [ { id: 1, title: 'item 1' },  ... ] "
               items            = "demoCtrl.pickerData"
               ng-model         = "demoCtrl.pickerValue"
               navigate-item    = "demoCtrl.navigateSelectedItem"
               browse-lookup    = "demoCtrl.browseLookup"
               not-found        = "demoCtrl.notFound"
               selected-items   = "demoCtrl.selectedItems"
            >
            </mx-picker-new>

            <!-- LAZY LOADING EXAMPLE -->
            <mx-picker-new
               label              = "Lazy-loading example"
               ng-model           = "demoCtrl.pickerLoadOnTypingValue"
               item-title-field   = "DisplayString"
               item-details-field = "Description"
               item-id-field      = "Value"
               load-items         = "demoCtrl.loadItems"
               load-on-typing     = "true"
               not-found          = "demoCtrl.notFoundDescriptor"
               browse-lookup      = "demoCtrl.browseLookup"
               items              = "[]"
               selected-items     = "demoCtrl.selectedItems"
            >
            </mx-picker-new>

        </form>


        <pre>
            <h1>mx-picker directive API:</h1>

            <b style="font-size: 1rem;">&lt;mx-picker</b>
                ng-disabled          = "demoCtrl.isDisabled"
                read-only            = "demoCtrl.isReadOnly"
                required             = "demoCtrl.isRequired"
                items-is-plain-array = "true"
                load-on-typing       = "true"

                load-delay           = "500"

                name                 = "vegetables"
                label                = "Single picker"
                item-title-field     = "title"
                item-id-field        = "value"
                item-details-field   = "description"
                dropdown-html-class  = "mx-picker-default"
                hint                 = "Hello, I am a hint"

                browse-lookup        = "demoCtrl.browseLookup"
                load-items           = "demoCtrl.loadItems"
                navigate-item        = "demoCtrl.navigateSelectedItem"
                on-change            = "demoCtrl.onChange()"

                items                = "demoCtrl.autocompleteItems"
                ng-model             = "demoCtrl.pickerArrayValue"
                not-found            = "demoCtrl.notFoundDescriptor"
            <b style="font-size: 1rem;">&gt;</b>

            <h1>Binding settings:</h1>

      <span style="font-size: 1rem;">
         bindToController: {

            <b>// Boolean</b>
                  disabled          : "=ngDisabled",
                  readOnly          : "=",
                  required          : "=",
                  itemsIsPlainArray : "@",
                  loadOnTyping      : "@",

            <b>// Number</b>
                  loadDelay         : "@",

            <b>// String</b>
                  name              : "@",
                  label             : "@",
                  dropdownHtmlClass : "@",
                  itemIdField       : "@",
                  itemTitleField    : "@",
                  itemDetailsField  : "@",
                  hint              : "@",

            <b>// Function</b>
                  browseLookup      : "=",
                  loadItems         : "=",
                  navigateItem      : "=",
                  onChange          : "&",

            <b>// Object</b>
                  model             : "=ngModel",
                  items             : "=",
                  notFound          : "="

         }
      </span>

        </pre>

    </div>
    <!-- DemoCtrl end  -->

</body>
</html>
