<html lang="en" ng-app="app">

<head>
    <meta name="viewport" content="initial-scale=1" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.0-rc4/angular-material.css" media="all">

    <style>

        body {
            padding-top: 5vw;
        }

        .test-input {
            display: block;
            width: 100%;
            transition: background 0.3s ease-out;
            padding: 5px;
            margin-bottom: 0.5rem;
            border: 1px gray solid;
        }

        .test-input:focus {
            outline: 0;
            border: 1px solid blue;
            background: #EBEBEB;
        }

        .clear-autocomplete {
            position: absolute;
            top: 20%;
            right: 8px;
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s, opacity 0.25s linear;
        }

        .clear-autocomplete.visible {
            visibility: visible;
            opacity: 1;
            cursor: pointer;
        }

        .clear-autocomplete i {
            font-size: 20px;
        }

        .clear-autocomplete {
            cursor: pointer;
            -webkit-user-select: none;
        }

        .hidden {
            display: none !important;
        }

        [md-highlight-text] .highlight {
            color: red !important;
            font-weight: bold;
        }

        md-autocomplete input {
            transition: color 0.3s;
        }

        md-autocomplete.error input {
            color: red !important;
        }

        md-autocomplete input:hover:not(:focus) {
            color: orange;
            text-decoration: underline;
            text-decoration-style: dashed;
            -webkit-text-decoration-style: dashed;
            cursor: pointer;
        }

        md-autocomplete.error input:hover {
            text-decoration: none;
            cursor: default;
        }

    </style>

</head>

<body>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-messages.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular&#45;material/1.1.0&#45;rc4/angular&#45;material.js"></script> -->
    <script src="angular-material.js"></script>

    <script>
        angular
            .module('app', ['ngMaterial', 'ngMessages'])
            .run(function($rootScope) {
                $rootScope.autocompleteItems = [ 'Broccoli', 'Cabbage', 'Carrot', 'Lettuce', 'Spinach' ];
                $rootScope.items             = [];
                $rootScope.searchText        = '';
                $rootScope.isDisabled        = false
                $rootScope.noCache           = true;
                $rootScope.querySearch       = querySearch;

                function querySearch (query) {
                    var results = query
                                        ? $rootScope.autocompleteItems.filter( createFilterFor(query) )
                                        : $rootScope.autocompleteItems;

                    return results;
                }

                function createFilterFor(query) {
                    var lowercaseQuery = angular.lowercase(query);

                    return function filterFn(state) {
                        var searchResult = (state.toLowerCase().indexOf(lowercaseQuery) === 0);
                        return searchResult;
                    };
                }

            })
            .directive('mdBlur', function($mdUtil, $timeout, $rootScope) {
                return {
                    require: "^mdAutocomplete",
                    link: function($scope, $element, $attributes, $mdAutocompleteCtrl) {
                        $timeout(function() {
                            var input      = $element.find("input");
                            var element    = $element[0];
                            var nativeBlur = $mdAutocompleteCtrl.blur;

                            $mdAutocompleteCtrl.blur = function() {

                                var searchText = $mdAutocompleteCtrl.scope.searchText ;
                                var isItemFound = ~$rootScope.autocompleteItems.indexOf(searchText);

                                nativeBlur.call($mdAutocompleteCtrl);
                                $mdUtil.nextTick(function () {
                                    $scope.$eval($attributes.mdBlur, {"$mdAutocomplete": $mdAutocompleteCtrl });

                                    if (!isItemFound) {
                                        $scope.searchTextInvalid = true;
                                        $element.addClass('error');
                                    }

                                });
                            };
                        });
                    }
                };
            })
            .directive('mdFocus', function($mdUtil, $timeout) {
                return {
                    require: "^mdAutocomplete",
                    link: function($scope, $element, $attributes, $mdAutocompleteCtrl) {
                        $timeout(function() {
                            var input       = $element.find("input");
                            var element     = $element[0];
                            var nativeFocus = $mdAutocompleteCtrl.focus;

                            $mdAutocompleteCtrl.focus = function(e) {

                                // prevent selection
                                var value = $element.find('input').val();
                                $element.find('input').val(value);

                                nativeFocus.call($mdAutocompleteCtrl);

                                $mdUtil.nextTick(function () {
                                    $scope.$eval($attributes.mdBlur, {"$mdAutocomplete": $mdAutocompleteCtrl });
                                    $element.removeClass('error');
                                });
                            };
                        });
                    }
                };
            })

            .directive('mdAutocomplete', function ($mdConstant) {
                var ddo = {
                    link: link,
                    require: 'mdAutocomplete'
                };

                return ddo;

                function link( scope, element, attrs, ctrl ) {

                    element.on('keydown', function onKeyDown(e) {

                        var inputValue = scope.searchText;

                        if (inputValue) {
                            scope.$$childHead.$mdAutocompleteCtrl.hidden = true;
                            scope.$digest();
                            return;
                        }

                        var isTabPressed     = e.keyCode === $mdConstant.KEY_CODE.TAB;
                        var isDropdownHidden = scope.$$childHead.$mdAutocompleteCtrl.hidden;

                        if (!isDropdownHidden && isTabPressed) {
                            // e.preventDefault();
                        }

                    });

                }
            })
        .directive('mdHideAutocompleteOnEnter', function ($timeout, $mdConstant) {
            var ddo = {
                link: link,
                require: 'mdAutocomplete'
            };

            return ddo;

            function link (scope, element, attrs, ctrl) {
                element.bind("keydown keypress keyup", function (event) {
                    var isDropdownHidden = scope.$$childHead.$mdAutocompleteCtrl.hidden;

                    // enter
                    if (!isDropdownHidden && event.which === $mdConstant.KEY_CODE.ENTER) {
                        scope.$apply(function (){
                            scope.$$childHead.$mdAutocompleteCtrl.hidden = true; // $scope  modified to scope
                            // element.find('input').blur();
                        });

                        return;
                    }

                    // up & down
                    if (isDropdownHidden && (event.keyCode === $mdConstant.KEY_CODE.UP_ARROW || event.keyCode === $mdConstant.KEY_CODE.DOWN_ARROW) ) {
                        event.preventDefault();

                        scope.$apply(function (){
                            ctrl.index = 0;
                            scope.$$childHead.$mdAutocompleteCtrl.hidden = false;
                        });
                    }

                });
            };
        });

    </script>

    <input type="text" placeholder="input for keyboard navigation test" class="test-input" id="temp" autofocus>
    <input type="text" placeholder="input for keyboard navigation test" class="test-input">

    <form name="autocompleteForm">
        <md-autocomplete
                required
                clear-autocomplete
                md-hide-autocomplete-on-enter
                md-blur
                md-focus
                md-search-text="searchText"
                md-input-name="autocomplete"
                md-items="item in querySearch(searchText)"
                md-item-text="item"
                md-min-length="0"
                placeholder="Single picker"
                md-match-case-insensitive="true"
                md-select-on-match="true"
                md-no-cache="noCache"
                md-floating-label="Single picker"
                ng-disabled="isDisabled">

                <md-item-template>
                    <span md-highlight-flags="^i" md-highlight-text="searchText">{{ item }}</span>
                </md-item-template>

                <div ng-messages="autocompleteForm.autocomplete.$error" ng-if="autocompleteForm.autocomplete.$touched">
                    <div ng-message="required">This field is required</div>
                </div>

                <md-not-found>
                    No states matching "{{searchText}}" were found.
                    <a ng-click="ctrl.newState(searchText)">Create a new one!</a>
                </md-not-found>
        </md-autocomplete>

        <md-autocomplete
                required
                clear-autocomplete
                md-hide-autocomplete-on-enter
                md-blur
                md-focus
                md-search-text="searchText"
                md-input-name="autocomplete"
                md-items="item in querySearch(searchText)"
                md-item-text="item"
                md-min-length="0"
                placeholder="Single picker"
                md-match-case-insensitive="true"
                md-select-on-match="true"
                md-no-cache="noCache"
                ng-disabled="isDisabled">

                <md-item-template>
                    <span md-highlight-flags="^i" md-highlight-text="searchText">{{ item }}</span>
                </md-item-template>
        </md-autocomplete>

    </form>

    <div layout="column" layout-padding>
        <md-checkbox ng-model="noCache">Disable caching of queries?</md-checkbox>
        <md-checkbox ng-model="isDisabled">Disable the input?</md-checkbox>
    </div>
    <button type="button">
        <md-icon md-svg-icon="md-close"></md-icon>
    </button>

<!--  http://codepen.io/topherfangio/pen/qOyrqE?editors=101 -->
<!-- http://stackoverflow.com/questions/31858787/angular&#45;material&#45;md&#45;autocomplete&#45;how&#45;to&#45;hide&#45;md&#45;autocomplete&#45;suggestions&#45;on&#45;e -->
<!-- https://codepen.io/londovir/pen/GJpdGR?editors=1010 -->

</body>
</html>
