        body {
            padding-top: 5vw;
        }

        .md-autocomplete-suggestions a {
            text-decoration: underline;
        }

        .test-input {
            display: block;
            width: 100%;
            transition: background 0.3s ease-out;
            padding: 5px;
            margin-bottom: 0.5rem;
            border: 1px gray solid;
        }

        .test-input:focus {
            outline: 0;
            border: 1px solid blue;
            background: #EBEBEB;
        }

        .clear-autocomplete {
            position: absolute;
            top: 10% !important;
            right: 8px;
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s, opacity 0.25s linear;
        }

        md-autocomplete.md-default-theme button.clear-autocomplete:after,
        md-autocomplete button.clear-autocomplete:after {
            background: none;
        }

        .clear-autocomplete.visible {
            visibility: visible;
            opacity: 1;
            cursor: pointer;
        }

        .clear-autocomplete i {
            font-size: 20px;
        }

        .clear-autocomplete {
            cursor: pointer;
            -webkit-user-select: none;
        }

        .hidden {
            display: none !important;
        }

        [md-highlight-text] .highlight {
            color: red !important;
            font-weight: bold;
        }

        md-autocomplete input {
            transition: color 0.3s;
        }

        md-autocomplete.error input {
            color: red !important;
        }

        md-autocomplete input:hover:not(:focus) {
            color: orange;
            text-decoration: underline;
            text-decoration-style: dashed;
            -webkit-text-decoration-style: dashed;
            cursor: pointer;
        }

        md-autocomplete.error input:hover {
            text-decoration: none;
            cursor: default;
        }


