/* ================================================================================ */
/* autocomplete styles
/* ================================================================================ */

.autocomplete-search {
    position: absolute;
    right: 0;
    top: 0;
    display: none;
    cursor: pointer;
}

mx-picker-new md-autocomplete input {
    transition: color .2s ease-in-out;
}


mx-picker-new .md-input-focused label {
    color: #fc8529 !important;
}

mx-picker-new md-icon {
    transition: 0.2s color ease-in-out;
}

mx-picker-new .md-input-focused md-icon {
    color: rgb(48, 70, 81) !important;
}

mx-picker-new .mx-picker-autocomplete--invalid input {
    /* color: $mx_palette_Rose_500 !important; */
    color: #fb4848 !important;
}

mx-picker-new md-autocomplete input:focus {
    color: rgba(0,0,0,0.87) !important;
    border-bottom-color: #fc8529 !important;
}

mx-picker-new md-autocomplete.valid-value input {
    color: transparent !important;
}

/* ================================================================================ */
/* hints styles
/* ================================================================================ */
.hint {
    font-size: 12px;
    line-height: 14px;
    color: grey;
    transition: all 0.2s cubic-bezier(0.55, 0, 0.55, 0.2);
}

.hint-info {
    color: gray !important;
}

.ng-invalid .hint {
    margin-top: 3px;
}

.hint.ng-hide,
.hint.ng-enter,
.hint.ng-leave.ng-leave-active {
    bottom: 26px;
    opacity: 0;
}

.hint.ng-leave,
.hint.ng-enter.ng-enter-active {
    bottom: 7px;
    opacity: 1;
}
/* ================================================================================ */
/* styles to disable focus in readonly mode */
/* ================================================================================ */
mx-picker-new md-autocomplete[readonly] md-input-container label {
    -webkit-transform: translate3d(0, 28px, 0) scale(1) !important;
    transform: translate3d(0, 28px, 0) scale(1) !important;
    transition: -webkit-transform cubic-bezier(0.25, 0.8, 0.25, 1) 0.4s, width cubic-bezier(0.25, 0.8, 0.25, 1) 0.4s !important;
    transition: transform cubic-bezier(0.25, 0.8, 0.25, 1) 0.4s, width cubic-bezier(0.25, 0.8, 0.25, 1) 0.4s !important;
    width: auto !important;
}

mx-picker-new md-autocomplete[readonly] md-input-container input {
    border-bottom-width: 1px !important;
    border-color: rgba(0,0,0,0.12) !important;
}

mx-picker-new md-autocomplete[readonly] md-input-container label,
mx-picker-new md-autocomplete[readonly] md-input-container label:after {
    color: gray !important;
}

mx-picker-new md-autocomplete[readonly] md-input-container.md-input-has-value label,
mx-picker-new md-autocomplete[readonly] md-input-container.md-input-has-value label:after {
    color: transparent !important;
}
/* ================================================================================ */
/* clear autocomplete button styles */
/* ================================================================================ */
.clear-autocomplete {
    position: absolute;
    top: 10% !important;
    right: 0;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.25s linear, right 0.2s ease-out;
}

.clear-autocomplete md-icon {
    transform: translate3d(-50%, -50%, 0) scale(0.65);
    transition:opacity 0.2s linear;
    opacity: 0.4;
}

.clear-autocomplete md-icon:hover {
    opacity: 1;
}

md-autocomplete.md-default-theme button.clear-autocomplete:after,
md-autocomplete button.clear-autocomplete:after {
    background: none;
}

.clear-autocomplete.visible {
    visibility: visible;
    opacity: 1;
    cursor: pointer;
}

.clear-autocomplete i {
    font-size: 20px;
}

.clear-autocomplete {
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}

.clear-autocomplete--offset {
    right: 20px !important;
}
/* ================================================================================ */
/* popover styles */
/* ================================================================================ */
.autocomplete-popover {
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    left: 15px;
    top: 12px;
    font-size: 14px;
    transition: color 0.2s ease-in-out;
}

[md-floating-label] .autocomplete-popover {
    left: 4px;
    top: 8px;
    font-size: 16px;
    text-decoration: underline;
    /* color: $mx_palette_Accent_500; */
    color: #fc8529;
}

.md-input-focused .autocomplete-popover {

}

.autocomplete-popover:hover {
    color: #0399d7;
    text-decoration: underline;
    text-decoration-style: dashed;
    -webkit-text-decoration-style: dashed;
    cursor: pointer;
}
/* ================================================================================ */

.mx-picker-autocomplete--browsable .autocomplete-search {
	display: block;
}
