<md-autocomplete
        clear-autocomplete
        ng-form                   = "autocompleteForm"
        ng-required               = "vm.required"
        ng-disabled               = "vm.disabled || (vm.readOnly && vm.selectedItem)"
        md-no-cache               = "true"
        md-select-on-match        = "true"
        md-match-case-insensitive = "true"
        placeholder               = "Single picker"
        md-floating-label         = "{{ :: vm.label }}"
        md-input-name             = "autocomplete"
        md-search-text            = "searchText"
        md-search-text-change     = "onSearchTextChange()"
        md-selected-item          = "vm.selectedItem"
        md-items                  = "item in querySearch(searchText, vm.items)"
        md-item-text              = "item"
        md-min-length             = "0"
        md-input-maxlength        = "30"
        md-selected-item-change   = "onItemChange()"
        ng-click                  = "onValueClick($event, searchTextValid)"
        ng-class                  = "isValidSearch ? ''  : 'invalid-value' "
        md-menu-class             = "{{ :: vm.dropdownHtmlClass }}"
        md-delay                  = "vm.loadDelay"
>

        <md-item-template>
                <span md-highlight-flags="^i" md-highlight-text="searchText">{{ item }}</span>
        </md-item-template>

        <div class="hint hint-info" ng-if="vm.showHints">Tell us what you like!</div>

        <div style="position: relative;" ng-messages="autocompleteForm.autocomplete.$error" ng-if="autocompleteForm.autocomplete.$touched && !vm.showHints">
                <div class="hint" ng-message="required">This field is required</div>
                <div ng-message="md-input-maxlength">The name has to be less than 30 characters long.</div>
        </div>

        <md-not-found>
                No states matching "{{searchText}}" were found.
                <a ng-click="vm.createItem({ searchText: searchText })">Create a new one!</a>
        </md-not-found>

        <md-icon tabindex="-1" class="autocomplete-search" ng-hide="vm.disabled || (vm.readOnly && vm.selectedItem)" ng-click="vm.onBrowseLookup()">search</md-icon>
</md-autocomplete>

