<md-autocomplete
	mx-clear-picker-btn
	md-item-text = "vm.getTitle(item)"
	md-items = "item in vm.autoCompleteSearch()"
	md-search-text = "vm.autoCompleteSearchText"
	md-autoselect = "true"
	md-delay = "vm.loadDelay"
	md-floating-label = "{{ :: vm.label }}"
	md-input-maxlength = "30"
	md-input-name = "autocomplete"
	md-match-case-insensitive = "true"
	md-menu-class = "{{ :: vm.dropdownHtmlClass }}"
	md-min-length = "0 || +vm.readOnly"
	md-no-cache = "true"
	md-search-text-change = "vm.autoCompleteSearchTextChange()"
	md-select-on-match = "true"
	md-selected-item = "vm.selectedItem"
	md-selected-item-change = "vm.onItemChange(item)"
	ng-disabled = "vm.disabled"
	ng-required = "vm.required"
	ng-class = "{ 'mx-picker-autocomplete--invalid': !vm.selectedItem, 'mx-picker-autocomplete--browsable': vm.browseLookup, 'mx-picker-autocomplete--readonly': vm.readOnly }"
	spellcheck = "false"
>

	<div
		class = "autocomplete-popover"
		tabindex = "-1"
		ng-if = "vm.selectedItem && vm.navigateItem"
		mx-sglclick = "vm.navigateItem(vm.autoCompleteSearchText)"
		ng-dblclick = "vm.dblClick()"
		ng-class = "{ 'autocomplete-popover--selected' : selecting }"
	>
		{{ vm.autoCompleteSearchText }}
	</div>

	<md-item-template>
		<span md-highlight-flags="^i" md-highlight-text="vm.autoCompleteSearchText">{{$parent.vm.getTitle(item)}}</span>
	</md-item-template>


	<div
		class = "hint hint-info"
		ng-hide = "vm.readOnly || vm.disabled"
		ng-bind = "::vm.hint"
	>
	</div>

		<div ng-show="vm.required" ng-hide="vm.readOnly || vm.disabled">
			<mx-control-errors options="{validationStatus:vm.validationStatus}"></mx-control-errors>
		</div>

	<md-not-found>
		<span>{{vm.notFoundMessage}}<a ng-if="vm.availableNotFoundButton" href ng-click="vm.notFoundClick()">{{vm.notFound.buttonText}}</a></span>
	</md-not-found>

	<md-icon
		tabindex = "-1"
		class = "autocomplete-search"
		ng-if = "vm.browseLookup && !(vm.disabled || vm.readOnly)"
		ng-click = "vm.browseLookup()"
	>
		search
	</md-icon>

</md-autocomplete>

