<div layout="column">
<ng-form name="myForm">
	<div class="mx-form-content">
		<test-form-control>
			<mx-picker
				data-items="vm.pickerData"
				ng-model="vm.pickerValue"
				ng-required="true"
				data-label="Classic, predfined items"
				navigate-item="vm.navigateSelectedItem"
				browse-lookup="vm.browseLookup"
				data-item-title-field="title">
			</mx-picker>
		</test-form-control>
		<test-form-control>
			<mx-picker
				data-items="vm.pickerArray"
				ng-model="vm.pickerArrayValue"
				data-label="Simple Plain Array">
			</mx-picker>
		</test-form-control>
		<test-form-control>
				<mx-picker
					ng-model="vm.pickerLoadOnTypingValue"
					data-item-title-field="DisplayString"
					data-item-details-field="Description"
					data-item-id-field="Value"
					data-load-items="vm.loadItems"
					data-not-found="vm.notFoundDescriptor"
					data-load-on-typing="true"
					data-label="Load on typing, with details">
				</mx-picker>
		</test-form-control>
		</div>

	<test-form-control>
		<mx-autocomplete
			data-items="vm.pickerData"
			ng-model="vm.autocompleteValue"
			ng-required="true"
			data-label="Autocomplte"
			data-item-title-field="title">
		</mx-autocomplete>
	</test-form-control>


	<test-form-control>
		<mx-select
			data-items="vm.pickerData"
			ng-model="vm.selectValue"
			ng-required="true"
			data-label="Select"
			data-item-title-field="title">
		</mx-select>
	</test-form-control>

	<test-form-control>
		<mx-select
			data-item-title-field="DisplayString"
			data-item-id-field="Value"
			data-load-items="vm.loadItems"
			ng-model="vm.selectValue2"
			ng-required="true"
			data-label="Select, loading items"
			data-item-title-field="title">
		</mx-select>
	</test-form-control>
	</div>

</ng-form>
</div>